@import './variables.scss';
@import './mixins.scss';
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clickable{
  cursor: pointer;
}


.Page{

  &_section{
    padding: 3em;

    @media (max-width: $s-tablet-bp) {
      padding: 1em;
    }
  }

}
