<div [ngSwitch]="currentSteps">
  <ng-container *ngFor="let formStepper of formSteppers">
    <div [ngClass]='formExtraClass' *ngSwitchCase="formStepper.sectionNumber">
      <app-form-section [ngClass]='sectionExtraClass'  [title]="formStepper.sectionTitle">
          <form nzForm *ngFor="let formGroup of formStepper.formGroups" >
              <app-form-input-factory [formGroup]='formGroup' class="w-100" [inputExtraClass]='inputExtraClass' > </app-form-input-factory>
          </form>
      </app-form-section>
    </div>
  </ng-container>
</div>

<div class="w-100 d-flex justify-content-between my-4">
<button (click)='previous()' nz-button nzType="default">Previous section</button>
<button (click)='next()' nz-button nzType="primary">Next section</button>
</div>

<nz-steps  [nzCurrent]="currentSteps">
  <ng-container *ngFor="let formStepper of formSteppers; trackBy: trackBySectionNumber; let last = last" >
    <nz-step [nzTitle]="formStepper.sectionTitle"></nz-step>
    <nz-step *ngIf="last && showFinishStep" nzTitle='Finish' ></nz-step>
  </ng-container>
</nz-steps>
