<div class="Page_section Login">

  <form nz-form class="Login_form" [formGroup]='loginForm'>
    <p *ngIf="userNotFoundError" class="error"> Sorry, no user could be found </p>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="my-2" >
      <div nz-col [nzSpan]="12">
        <a routerLink='' class="login-form-forgot">Forgot password</a>
      </div>
    </div>
    <div *ngIf="!isLoading; else notLoading" class="mt-4" nz-row>
      <button nz-button nz-col class="align-self-center" nzType="default" (click)='login()' >Log in</button>
      <p nz-col class="m-0 m-r-2 m-l-4 align-self-center">Or</p>
      <a nz-col class="align-self-center mx-2" [routerLink]='["/sign-up"]'>register now!</a>
    </div>
    <ng-template #notLoading>
      <nz-spin class="mt-4" nz-row nzTip='Loging in ..'></nz-spin>
    </ng-template>
  </form>

</div>
