<div class="Page_section">

  <app-form-with-steper
  sectionExtraClass='w-100 d-flex'
  formExtraClass='d-flex justify-content-center'
  inputExtraClass='w-50 p-3 d-inline-block m-0'
  [formSteppers]="signUpFormStepper"
  [showFinishStep]='true'
  [onFinish]='onFinish'
  >
    <div class="d-flex justify-content-center w-100" finishContent >


      <nz-spin *ngIf="creationState === 'creating'; else created" nzSimple nzTip='Creating your account..'></nz-spin>

      <ng-template #created>
        <div>
          <p>Your account have been successfully created, you can now <a [routerLink]='["/login"]'>login</a> </p>
        </div>
      </ng-template>
    </div>
  </app-form-with-steper>

</div>
