/* You can add global styles to this file, and also import other style files */
@import './styles/global.scss';

@import "~bootstrap/scss/bootstrap.scss";


.Splash{
  position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: #fcba03;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    &_text{
      color: white;
    }
}

